<div class="modal fade" tabindex="-1" aria-hidden="true" data-modal-form-target="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<i class="bi bi-person-add me-2"></i>Nouvel utilisateur</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ include('user/_form.html.twig') }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<i class="bi bi-x-lg me-2"></i>Annuler
				</button>
				<button type="button" class="btn btn-primary">
					<i class="bi bi-plus-lg me-2"></i>
					Ajouter
				</button>
			</div>
		</div>
	</div>
</div>
